.by-4 {
    flex: 0 0 auto;
    width: 20%;
}

.product {
    padding: 0 0 0 0;
    margin-top: 1em;
    margin: 5px 5px 5px 5px;
}

.product__image {
    border: 1px solid rgb(230, 229, 229);
    border-radius: 4px;
    margin-top: 10px;
    min-width: 200px;
    max-width: 100%;
    min-height: 250px;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product__desc {
    font-size: 0.8em;
}

.product__brand {
    color:rgb(94, 94, 94);
    text-align: center;
}

.product__model {
    color:rgb(136, 136, 136);
    text-align: center;
}

.product__buttons {
    display: flex;
    float: right;
}

.product__buttons > .btn {
    margin-left: 5px;
}

.card-body {
    flex: 1 1 auto;
    padding-top: 1rem;
    padding-right: 10px;
    padding-bottom: 1rem;
    padding-left: 10px;
}

.wrapper {
    margin-bottom: 100px;
}
