.by-4 {
    width: 24%;
}

.product__image {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
    margin-top: 10px;
    min-width: 200px;
    max-width: 100%;
    min-height: 250px;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.small {
    border: none;
    max-width: 30%;
    min-width: 100px;
    max-height: 30%;
    min-height: 100px;
    background-size: contain;
    margin: 0 auto;
}

.product_card_head {
    --bs-gutter-x: 0;
}

.product__detail {
    margin-bottom: 3em;
    max-width: 100%;
    min-height: 450px;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product__desc {
    font-size: 0.8em;
}

.product__brand {
    color:rgb(94, 94, 94);
    text-align: center;
}

.product__model {
    color:rgb(136, 136, 136);
    text-align: center;
}

.product__category_name {
    color:rgb(150, 150, 150);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7em;
}

.product__buttons {
    display: flex;
    float: right;
}


.product__buttons > .btn {
    margin-left: 5px;
}

.card-body {
    flex: 1 1 auto;
    padding-top: 1rem;
    padding-right: 10px;
    padding-bottom: 1rem;
    padding-left: 10px;
}

.wrapper {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
